.btn {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;
    border-radius: var(--round-10);
    font-size: var(--text-medium);
}

.btn:hover {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}