.error_404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 80vh;
    font-size: var(--text-large);
    padding: var(--pa-20);
    text-align: center;
}

.error_404__code {
    font-size: 150px;
    font-weight: 500;
    color: var(--primary-color);

}